<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Græsdal Glass", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Hjem", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Nybygg", "Nybygg", "Products")</li>
                    <li>@Html.ActionLink("Reparasjoner", "Reparasjoner", "Products")</li>


                    <li class="dropdown">
                        @*@Html.ActionLink("Vindu", "Vindu", "Products", new { @class = "dropdown-toggle caret" }, new { data_toggle = "dropdown" })*@
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vindu<b class="caret"></b></a>
                        <ul class="dropdown-menu" id="left-align">
                            <li>@Html.ActionLink("Oversikt over vidustyper", "Vindu", "Products")</li>
                            <li>@Html.ActionLink("Energispareglass", "Energispareglass", "Vindu")</li>
                            <li>@Html.ActionLink("Selvrensende glass", "Selvrensende_glass", "Vindu")</li>
                            <li>@Html.ActionLink("Sikkerhetsglass og sikringsglass", "Sikkerhetsglass_sikringsglass", "Vindu")</li>
                            <li>@Html.ActionLink("Solbeskyttende glass", "Solbeskyttende_glass", "Vindu")</li>
                            <li>@Html.ActionLink("Støydempende glass", "Støydempende_glass", "Vindu")</li>

                            @*<li>
                                <div class="row">
                                    <div class="col-sm-6">Sikkerhetsglass og sikringsglass</div>
                                    <div class="col-sm-6">Dette er en tekst som går <br />over<br />flere<br />linjer<br /></div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-sm-6">Sikkerhetsglass og sikringsglass</div>
                                    <div class="col-sm-6">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</div>
                                </div>
                            </li>*@

                        </ul>
                    </li>
                    
                    <li>@Html.ActionLink("Annet glass", "Annet", "Products")</li>
                    <li>@Html.ActionLink("Proff", "Proff", "Products")</li>

                    <li>|||||||||||</li>
                    <li>@Html.ActionLink("Om oss", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt oss", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </nav>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
